<button *ngIf="collectionView.mode==1 || collectionView.mode==2" class="browse" [disabled]="collectionView.mode!=1">Browse</button>
<button *ngIf="collectionView.mode==1 || collectionView.mode==2" (click)="synchCollection()" [disabled]="collectionView.mode!=1">Sync</button>
<button *ngIf="collectionView.mode==1" (click)="switchToEditMode()">Edit</button>
<button type="submit" *ngIf="collectionView.mode==2" [disabled]="!isFormValid">Save</button>
<button type="submit" *ngIf="collectionView.mode==3" (ngSubmit)="createNewCollection()">Create</button>
<button *ngIf="collectionView.mode==1" (click)="closeCollection()">Close</button>
<button *ngIf="collectionView.mode==2 || collectionView.mode==3" (click)="discardChangedOrNewCollection()">Discard</button>
