button {
  width: 7em;
  height: 3em;
}

button.browse {
  background-color: #4477AA;
  color: white;
}

button.browse:hover {
  background-color: #6699CC;
}

button.browse:disabled {
  background-color: #4477AA;
  color: #aaa;
  cursor: auto;
}

label {
  display: table-cell;
  width: 5em;
  vertical-align: top;
  padding-left: 10px;
  padding-bottom: 10px;
}

input {
  display: table-cell;
  width: 22em;
}
.inputDiv     {
  display: table-row;
}

.alert-danger {
  width: 21em;
}

label.statistics {
  display: table-cell;
  width: 10em;
  vertical-align: top;
  padding-left: 10px;
  padding-bottom: 10px;
}
