<div class="table">
  <div class="row">
    <div class="badgeTopCell">{{collectionView.collection.id}}</div>
    <div class="nameCell" title="Open collection" (click)="toggleDetails()">{{collectionView.collection.name}}</div>
    <div class="cell" title="Open collection" (click)="toggleDetails()"><img
      src="assets/images/homeicon.png" alt="s"></div>
  </div>
  <div class="row">
    <div class="badgeBotCell">
      <button class="del" title="Delete collection" (click)="delete()" [disabled]="collectionView.mode==4 || collectionView.mode==5">x</button>
    </div>
    <div class="statCell" title="Open collection" (click)="toggleDetails()">
      {{collectionView.collection.statistics.statisticsSummary}}
    </div>
    <div class="cell" title="Open collection" (click)="toggleDetails()"></div>
  </div>
</div>
