<h2>My Collections</h2>
<ul class="collection-list">
  <li *ngFor="let collection of collections">
    <div class="table">
      <div class="row">
      <div class="badgeTopCell">{{collection.id}}</div>
      <div class="nameCell">{{collection.name}}</div>
      <div class="cell"><img src="assets/images/homeicon.png" alt="s"></div>
      </div>
      <div class="row">
        <div class="badgeBotCell"></div>
        <div class="statCell">{{collection.statisticsSummary}}</div>
        <div class="cell"></div>
      </div>
    </div>

    <!--<a routerLink="/detail/{{collection.id}}">-->
    <!--</a>-->
  </li>
</ul>
