<div *ngIf="newCollectionView && newCollectionView.mode==3">
  <h2>Create New Collection</h2>
  <app-collection-form [collectionView]="newCollectionView"></app-collection-form>
</div>
<div *ngIf="!newCollectionView || newCollectionView.mode != 3">
  <h2>My Collections</h2>
  <button class="new" title="New collection" (click)="newCollection()">New</button>
  <ul class="collection-list">

    <li *ngFor="let collectionView of collectionViews">
      <app-collection-header [collectionView]="collectionView"
                             (deleteColEvent)="notifyDeletedCollection($event)"
                             (toggleColEvent)="notifyToggledCollection($event)"></app-collection-header>
      <div *ngIf="collectionView.mode!=0" class="detailsDiv">
        <app-collection-form [collectionView]="collectionView"></app-collection-form>
      </div>
    </li>
  </ul>
</div>
