.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.alert-danger {
  color: #a94442;
  font-size: small;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 5px;
  padding: 6px;
  margin: 4px;
}
